.webApp-container {
    padding-top: 1%;
    width: 90vw;
    margin: auto;
}

.container-preview {
    height: 701px !important;
}
.avatar-pic {
    border-radius: 100%;
    width: 4rem;
}

.icons {
   font-size: 1.8rem;
   padding: 10px;
   color: #B0AFAD;
}

.chats-preview-box {
    height: 470px;
    overflow: scroll;
    overflow-x: hidden;
    
}

.chats-preview-content {
    height: fit-content;
}

.chat-box {
    height: 532px;
    overflow: scroll;
    overflow-x: hidden;
    background-image: url(../img/mine.jpg);
}

.user-sent-message {
    align-self: flex-end;
    text-align: right;
    background-color: #D5F9BA;
    margin-right: 10px;  
    margin-top: 10px;
    width: fit-content;  
    padding: 5px 15px;
    padding-top: 10px;
    border-radius: 6px;
    max-width: 45%;
}

.user-received-message {
    text-align: left;
    background-color: white;  
    margin-left: 10px;  
    margin-top: 10px;
    width: fit-content;
    padding: 5px 15px;
    padding-top: 10px;
    border-radius: 6px;
    max-width: 45%;
}

.bg-light-blue {
    background-color: #8EDAFC;
}

.color-light-blue {
    color: #8EDAFC;
}

.contact-item {
    padding:10px;
}
