.webApp-container {
    padding-top: 1%;
    width: 90vw;
    margin: auto;
}

.avatar-pic {
    border-radius: 100%;
    width: 4rem;
}

.icons {
   font-size: 1.8rem;
   padding: 10px;
}

.chats-preview-box {
    height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
    
}

.chats-preview-content {
    height: 2000px;
}

.chat-box {
    height: 84.14vh;
    overflow: scroll;
    overflow-x: hidden;
    background-image: url(../img/mine.jpg);
}

.user-sent-message {
    align-self: flex-end;
    text-align: right;
    background-color: lightgreen;
    margin-right: 10px;  
    margin-top: 10px;
    width: fit-content;  
    padding: 5px 15px;
    padding-top: 10px;
    border-radius: 6px;
}

.user-recived-message {
    text-align: left;
    background-color: white;  
    margin-left: 10px;  
    margin-top: 10px;
    width: fit-content;
    padding: 5px 15px;
    padding-top: 10px;
    border-radius: 6px;
}